@{
    ViewBag.Title = "Home Page";
}

<body>
    @* This is Code Block *@
    @{
        var num1 = 5;
        var num2 = 10;
        var result = num1 + num2;
    }
    @* Inline Markup *@
    <h2>Sum of @num1 + @num2 = @result</h2>


    <!--Finding Interger -->
    @{
        var number = "32";
        int num;
        @* //This line will raise error because you cannot store string into int variable *@
        @* //num = number; *@
    if (number.IsInt() == true)
    {
        num = number.AsInt();
        <h2>@num  is Integer Value</h2>
    }
    else
    {
        <h2>@number  is Not Integer</h2>
    }
    }




    <!--Finding Float-->
    @{
        var v = "12.52";
        float f;
        if (v.IsFloat() == true)
        {
            f = v.AsFloat();
            <h2>@f is a float.</h2>
        }
        else
        {
            <h2>@v is Not a Float</h2>
        }
    }

    


    <!--Finding Decimal-->
    @{
        var dec = "123.456";
        decimal d;
        if (dec.IsDecimal() == true)
        {
            d = dec.AsDecimal();
            <h2>@d is a Decimal</h2>
        }
        else
        {
            <h2>@dec is Not a Decmial</h2>
        }
    }




    <!--Loop Statements-->
    @{
        for (int i = 12; i <= 42; i+=2)
        {
            <span>@i, </span>
        }
    }

    <br />
    <br />

    @{
        int[] arr = { 2, 6, 2, 55, 62, 64, 67 };
        foreach (int x in arr)
        {
           <span>@x, </span>
        }
    }


</body>
